body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: brown;
    position: fixed;
    left: 0px;
    right: 0px;
    text-align: center;
}
nav {
    background-color: black;
    position: sticky;
    top: 80px;
    color: white;
    text-align: center;
}
main {
    margin: 50px;
    padding-top: 60px;
}
#section1 {
    background-color: #bababa;
    margin: 10px;
    padding: 25px;
}
#section2 {
    background: #bababa;
    margin: 10px;
    padding: 25px;
}
#section3 {
     background: #bababa;
     margin: 10px;
     padding: 25px;
 }
footer{
    background-color: #3E065F;
    color: white;
    text-align: center
}